{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Resources": {
 },
  "Description": "Security groups for whitelisting CloudFlare",
  "Parameters": {
    "vpc": {
      "Type": "AWS::EC2::VPC::Id",
      "Description": "VPC of the application"
    }
  }
}